$primary: rgb(253, 255, 241);

$blue:rgb(25, 108, 197);

$grey-1: hsl(0deg, 0%, 10%);
$grey-2: hsl(0deg, 0%, 30%);
$grey-3: hsl(0deg, 0%, 50%);
$grey-4: hsl(0deg, 0%, 70%);
$grey-5: hsl(0deg, 0%, 90%);

